/* Explore.css */

.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto; /* Center the container */
    max-width: 600px; /* Set a maximum width for better responsiveness */
  }
  
  .logo {
    width: 170px; /* Adjust the size as needed */
    height: 170px; /* Adjust the size as needed */
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 20px; /* Adjust padding for spacing */
    border: 2px solid #ddd; /* Add a border with a neat color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
 
  @media (max-width: 600px) {
    .logo {
      width: calc(50% - 20px); /* Two logos per row */
      height: calc(50%-20px);
      margin-bottom: 20px; /* Add margin to create space between rows */
      border-radius: 50%; /* Make logos round */
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: calc(100% - 20px); /* One logo per row */
      height: calc(100% - 20px);
      margin-bottom: 20px; /* Add margin to create space between rows */
      border-radius: 50%; /* Make logos round */
    }
  }
  
  